<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    输入的文本：<input v-model="message" type="text">{{message}}
    <textarea v-model="message"></textarea>
    <input type="radio" name="sex" value="男" v-model="cp">男
    <input type="radio" name="sex" value="女" v-model="cp">女

    <p>选中了谁：{{cp}}</p>

    <p>下拉框</p>
    <select v-model="selected">
        <option>a</option>
        <option>b</option>
        <option>c</option>
    </select>
    <p>下拉框选中了{{selected}}</p>
</div>

<!--导入vue.js-->
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        // model层 数据
        data:{
            message:"cpcppc",
            cp:"",
            selected:""
        }
    });
</script>
</body>
</html>